<div class="jumbotron">

{{ working }}

</div>

  <div ng-controller="DragDropCtrl">
    <input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">
    <div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
    <div id='drop-zone' ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function">
      drop files here
  </div> <!-- this works for drag and drop implementation -->
<!--   <div ng-file-drop-available="dropSupported=true" 
        ng-show="!dropSupported">HTML5 Drop File is not supported!</div> -->
</div>
